# Lambda build output
lambda/dist/
lambda/dist.zip
lambda/node_modules/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/backend.hcl
terraform/*.tfplan
*.tfstate
*.tfstate.backup

# temp remove github action
.github
